@media screen and (max-width:1199px) {
	.benefits-icon {
		display: none;
	} 
}

.benefits {
	padding-top: 96px;
}

.benefits-list {
	display: flex;
	flex-direction: column;
	gap: 72px;
}

.mobile-tablet-title {
	margin-bottom: 8px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--main-color);
}


@media screen and (min-width: 768px) {
	.mobile-tablet-title  {
		text-align: start;
	}

	.benefits-list {
		flex-direction: row;
		flex-wrap: wrap;
		row-gap: 72px;
		padding: 0px;
		gap:24px;
	}

	.benefits-item {
		width: 356px;
	}
}

@media screen and (min-width: 1200px) {

.benefits-list {
	flex-wrap: nowrap;
}
.benefits-icon {
	width: 264px;
	height: 112px;
	padding: 24px 100px;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary-color);
	border-radius: 4px;
	margin-bottom: 8px;
}

.benefits-item {
	flex-basis: calc((100%-72px) / 4);
} 
}