.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 47, 66, 0.4);
	z-index: 99;
	transition: opacity var(--transition-dur-bezier), visibility var(--transition-dur-bezier);
}

.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal {
	width: 320px;
}

@media screen and (min-width:400px) {
	.modal {
		width: 392px;
	}
}
.modal {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #fcfcfc;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 96px 18px 24px;
}
.modal-close-button {
	position: absolute;
	top: 24px;
	right: 24px;
	padding: 8px;
	display: flex;
	width: 24px;
	height: 24px;
	background-color: var(--accent-color);
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	justify-content: center;
	align-items: center;
}

.modal-close-button-icon {
	fill: #000;
}


/* ==============================Tablet============================ */
@media screen and (min-width: 768px) {
	.modal {
		width: 408px;
	}
}

/* =================================Desktop============================================== */
@media screen and (min-width: 1200px) {
	.modal-close-button {
		cursor: pointer;
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.modal-close-button-icon {
		transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	
	.modal-close-button:is(:hover, :focus) {
		background-color: var(--hover-focus-color);
	}
	
	.modal-close-button:is(:hover, :focus) .modal-close-button-icon {
		fill: #fff;
	}

}

